{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block main %}
<div class="container mb-3">
    <h1>Register</h1>
    <div class="b-example-divider"></div>
</div>

<div class="container">
    <form action="/register" method="POST">
        <div class="mb-3">
            <input autofocus autocomplete="off" type="text" class="form-control mb-3" name="name" aria-describedby="name" placeholder="Enter name">
            <input autocomplete="off" type="password" class="form-control mb-3" name="password" aria-describedby="password" placeholder="Enter password">
            <input autocomplete="off" type="password" class="form-control mb-3" name="confirmation" aria-describedby="confirmation" placeholder="Confirm Password">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>
{% endblock %}